@charset "utf-8";
/* CSS Document */
.fondo{
	background-image: url('http://toscargo.e-strategit.com/imagenes/slider-toscargo-1.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	background-size:cover;
	background-color:transparent !important;
}

