@charset "utf-8";
/* CSS Document */
.fondo{
	background-image: url(../img/bgLogin.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size:cover;
	background-color:transparent !important;
}

